<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search here</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <h1>Serach Collage List</h1>
    <form method="post" action="/search/">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-lg-5">
                <input type="text" name="srh" class="form-control" placeholder="Enter name or place">
            </div>
            <label class ="col-lg-2">
                <button type = "submit" class="btn btn-danger">Search</button>
            </label>
        </div>
    </form>
    <br><br><br>
    <div>
        {% if messages %}
        <ul class="messages">
            {% for k in messages %}
            <li style="color:red">{{ k }}</li>
            {% endfor %}

        </ul>
        {% endif %}
    </div>
    <br><br>
    <div style="color:blue">
        {% if sr %}
        {% for k in sr %}
        <tabel border="0px" width="300px">
            <tr>
                <td>Name</td>
                <td>{{k.name }}</td>
            </tr>
            <tr>
                <td>Email ID</td>
                <td>{{k.emailid }}</td>
            </tr>
            <tr>
                <td>URL</td>
                <td>{{k.url }}</td>
            </tr>
        </tabel>
        <hr>
        {% endfor %}
        {% endif %}
    </div>


</div>
</body>
</html>